.cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.cart > h1 {
  margin-bottom: 120px;
}

.cartItems {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cartItems__buttons > Button {
  margin: 20px;
}

a {
  text-decoration: none;
}
